* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/background.avif");
  background-size: cover;
  background-position: center;
  min-height: 300vh;
}

.fixBox {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  padding: 48px;
  display: grid;
  grid-template: repeat(auto-fill, 80px) / repeat(auto-fill, 320px);
  gap: 48px;
}

.rect {
  width: 320px;
  height: 80px;
  --radius: 40px;
  --expand: 8px;
  --strength: 30px;
  --blur: 0px;
  background-color: rgb(80 80 80 / 0.1);
}

.circle {
  width: 80px;
  height: 80px;
}
