* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/src/assets/background.avif");
  background-size: cover;
  background-position: center;
  min-height: 300vh;
}

.rect {
  width: 320px;
  height: 80px;
  --radius: 40px;
  --expand: 6px;
  --strength: 80px;
}

.fixBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
